<h2><%=session[:player_name]%> vs Dealer</h2>
<div class="row">
  <% if session[:player_stands] == true  || session[:game].player_hand.bust? %>
    <h3><%= session[:game].determine_winner %></h3>
    <div class="large-4 medium-4 small-6 columns">
      <%= session[:game].dealer_hand.print_hand %>
    </div>
  <% else %>
    <div class="large-4 medium-4 small-6 columns">
      <p>Dealer was dealt: [ ]</p>
      Dealer was dealt: <%= session[:game].dealer_hand.cards.last.id %>
    </div>
  <% end %>
  <div class="large-4 medium-4 small-6 columns">
    <%= session[:game].player_hand.print_hand %>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <%= erb :scoreboard %>
  </div>
</div>

<% if session[:game].player_hand.bust? || session[:player_stands] == true %>
  <div class="text-center">
    <form action="/playagain" method="get">
      <input class="button alert" type="submit" value="Play Again?">
    </form>
    <form action="/" method="get">
      <input class="button alert" type="submit" value="I give up!">
    </form>
  </div>
<% else %>
  <div id="container">
    Would you like to hit or stand?
  </div>
  <div class="text-center">
    <form class="" action="/hit" method="post">
      <input class="button alert" id="button1" type="submit" name="choice" value="Hit">
    </form>
    <form class="" action="/stand" method="post">
      <input class="button alert" id="button2" type="submit" name="choice" value="Stand">
    </form>
  </div>
<% end %>
