<h1><%=session[:player_name]%> vs Dealer</h1>

<% if session[:player_stands] == true %>
  <%= session[:game].determine_winner %>
  <%= session[:game].dealer_hand.print_hand %>
<% else %>
  <p>Dealer was dealt: [ ]</p>
  Dealer was dealt: <%= session[:game].dealer_hand.cards.last.id %>
<% end %>
<p></p>
<%= session[:game].player_hand.print_hand %>

<%= erb :scoreboard %>
<% if session[:game].player_hand.bust? || session[:player_stands] == true %>
  <form action="/" method="get">
    <input type="submit" value="Play Again?">
  </form>
<% else %>
  Would you like to hit or stand?
  <form class="" action="/blackjack" method="post">
    <input type="submit" name="choice" value="Hit">
    <input type="submit" name="choice" value="Stand">
  </form>
<% end %>
