<table>
  <tr>
    <th><%= session[:player_name] %>'s Total Score</th>
    <th>Dealer's Visible Score</th>
  </tr>
  <tr>
    <td><%= session[:game].player_hand.score %></td>
    <td>
      <% if session[:game].player_hand.bust? %>
      <%= session[:game].dealer_hand.score %>
      <% elsif session[:player_stands] == false %>
      <%= session[:game].dealer_hand.display_last_card_value %>
      <% else %>
      <%= session[:game].dealer_hand.score %>
      <% end %>
      </td>
  </tr>
</table>
